<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694243852741-23n8bi8dd82mbpo47h57al7a3fnfq98b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694243852741-23n8bi8dd82mbpo47h57al7a3fnfq98b</string>
	<key>API_KEY</key>
	<string>AIzaSyA10DAQUl9FbfuZtD0VZvGhv_QsF5Zwqzw</string>
	<key>GCM_SENDER_ID</key>
	<string>694243852741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vng.downloader</string>
	<key>PROJECT_ID</key>
	<string>downloader-cc275</string>
	<key>STORAGE_BUCKET</key>
	<string>downloader-cc275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694243852741:ios:1182670216fbc8295c8bac</string>
</dict>
</plist>